fastapi
fastapi-pagination
uvicorn
pydantic
email-validator
psycopg2
psycopg2-binary
sqlalchemy
passlib
fastapi-jwt-auth
fastapi-mail
python-multipart
fastapi-utils
python-decouple
python-slugify
boto3
awscli
Jinja2