<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../pdfs/quote/template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="has-background-light">
    <div class="p-6">
        <div class="card">
            <div class="card-content">
              <div class="content">
                <div class="columns">
                    <div class="column">
                        <figure class="is-pulled-left">
                            <img src="https://pwa-backend.s3.us-west-1.amazonaws.com/pestware_large.png" width="150">
                        </figure>
                    </div>
                    <div class="column">

                    </div>
                </div>
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <figure>
                            <img src="https://pwa-backend.s3.us-west-1.amazonaws.com/desktop_pestware.svg">
                        </figure>
                    </div>
                    <div class="column"></div>
                </div>
                <h2 class="title is-6">Hola Gustavo,</h2>
                <h2 class="title is-5">¡Bienvenido a PestWare App!</h2>
                <div class="notification is-info is-light">
                    Con PestWare App podrás tener toda la administración de tu negocio en la palma de tu mano, todos tus procesos estarán digitalizados e integrados en un solo lugar con el Software para Empresas de Control de Plagas más sencillo y amigable.
                    <br><br>
                    <strong>¡Mide, Controla y Mejora tu Negocio!</strong>
                </div>
                <div class="notification">
                    <div class="columns" style="text-align: center !important;">
                        <div class="column">
                            <span class="icon-text">
                                <span class="icon has-text-info">
                                    <i class="fab fa-facebook"></i>
                                </span>
                                <span>PestWare App</span>
                            </span>
                            <br>
                            <span class="icon-text">
                                <span class="icon has-text-success">
                                  <i class="fab fa-whatsapp"></i>
                                </span>
                                <span>+52 449 413 9091</span>
                            </span>
                        </div>
                        <div class="column">
                            <span class="icon-text">
                                <span class="icon has-text-warning">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span>contacto@pestwareapp.com</span>
                            </span>
                            <br>
                            <span class="icon-text">
                                <span class="icon has-text-grey-dark">
                                    <i class="fas fa-globe-americas"></i>
                                </span>
                                <span>www.pestwareapp.com</span>
                            </span>
                        </div>
                    </div>
                    <div class="columns" style="text-align: center !important;">
                        <div class="column is-align-content-center">
                            <span class="tag is-primary is-light is-medium">
                                <span class="icon">
                                    <i class="fab fa-google-play"></i>
                                  </span>
                                  <span>App Técnicos</span>
                            </span>
                            <span class="tag is-info is-light is-medium mt-3">
                                <span class="icon">
                                    <i class="fab fa-app-store-ios"></i>
                                  </span>
                                  <span>App Técnicos</span>
                            </span>
                        </div>
                        <div class="column">
                            <span class="tag is-primary is-light is-medium">
                                <span class="icon">
                                    <i class="fab fa-google-play"></i>
                                  </span>
                                  <span>App Administrativos</span>
                            </span>
                            <span class="tag is-info is-light is-medium mt-3">
                                <span class="icon">
                                    <i class="fab fa-app-store-ios"></i>
                                  </span>
                                  <span>App Administrativos</span>
                            </span>
                        </div>
                        <div class="column">
                            <span class="tag is-primary is-light is-medium">
                                <span class="icon">
                                    <i class="fab fa-google-play"></i>
                                  </span>
                                  <span>App Portal</span>
                            </span>
                            <span class="tag is-info is-light is-medium mt-3">
                                <span class="icon">
                                    <i class="fab fa-app-store-ios"></i>
                                  </span>
                                  <span>App Portal</span>
                            </span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>