<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" integrity="sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="columns">
    <div class="column">
      <h1 class="title has-text-link">COTIZACIÓN DE SERVICIO</h1>
      <div class="columns">
        <div class="column is-2">
          <p class="has-text-weight-light">NO.</p>
          <p class="has-text-weight-light">FECHA</p>
          <p class="has-text-weight-light">AGENTE</p>
        </div>
        <div class="column">
          <p class="has-text-weight-semibold">{{quote.folio}}</p>
          <p class="has-text-weight-semibold">{{quote.created_at_f}}</p>
          <p class="has-text-weight-semibold">{{employee.name}}</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column is-8">
          <span class="icon-text">
            <span class="icon has-text-info">
              <i class="fab fa-facebook"></i>
            </span>
            <span>{{job_center.facebook}}</span>
          </span>
          <br>
          <span class="icon-text">
            <span class="icon has-text-success">
              <i class="fab fa-whatsapp"></i>
            </span>
            <span>{{job_center.whatsapp}}</span>
          </span>
          <br>
          <span class="icon-text">
            <span class="icon has-text-danger">
              <i class="fab fa-instagram"></i>
            </span>
            <span>mbcontrol_mx</span>
          </span>
          <br>
          <span class="icon-text">
            <span class="icon has-text-warning">
              <i class="fas fa-envelope"></i>
            </span>
            <span>{{job_center.email}}</span>
          </span>
          <br>
          <span class="icon-text">
            <span class="icon has-text-grey-dark">
              <i class="fas fa-globe-americas"></i>
            </span>
            <span>{{job_center.web_page}}</span>
          </span>
        </div>
        <div class="column">
          <figure class="image is-128x128 is-pulled-right">
            <img src="https://scontent.fntr5-1.fna.fbcdn.net/v/t1.6435-9/101840812_717715595723234_906344116428734464_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFKxriQiAFJfxbsJrtRS7Eu1WtI2LOZ60PVa0jYs5nrQ9SwdUNNMVuvt6VQZBIz3X9wu13-lWfqWYklksf2e2ME&_nc_ohc=wcyRxu9HoGQAX9Lvby8&_nc_ht=scontent.fntr5-1.fna&oh=00_AT8LnH98gWl0eicU-6GCVeGgHl597ZE6R-FUXODtftDcCQ&oe=62F078F7">
          </figure>
        </div>
      </div>
    </div>
  </div>
    <div class="columns">
      <div class="column">
        <article class="tile is-child notification is-primary-light">
          <p class="has-text-weight-semibold">{{job_center.business_name}}</p>
          <p class="has-text-weight-normal">{{job_center.taxpayer_registration}}</p>
          <p class="has-text-weight-normal">{{job_center.license_number}}</p>
          <p class="has-text-weight-normal">{{job_center.phone}}</p>
          <p class="has-text-weight-normal">Sierra de la Canela #114, Bosques del Prado Norte, Aguascalientes, Ags.</p>
        </article>
      </div>
      <div class="column">
        <article class="tile is-child notification is-primary-light">
          <p class="has-text-weight-semibold">{{customer.name}}</p>
          <p class="has-text-weight-normal">{{customer.contact_name}}</p>
          <p class="has-text-weight-normal">{{customer.phone}}</p>
          <p class="has-text-weight-normal">{{customer.email}}</p>
          <p class="has-text-weight-normal">{{customer.address}}</p>
        </article>
      </div>
    </div>
    <p class="has-text-weight-semibold">Atendiendo su solicitud, adjunto propuesta para obtener una solución integral en el Manejo Integral y Control de
      Plagas</p>
    <br>
    <div class="columns">
      <table class="table table is-fullwidth table is-striped">
        <thead class="has-background-link has-text-white">
          <tr>
            <th><abbr title="Position" class="has-text-white">Concepto</abbr></th>
            <th><abbr title="Position" class="has-text-white">Cantidad</abbr></th>
            <th><abbr title="Played" class="has-text-white">Subtotal</abbr></th>
            <th><abbr title="Won" class="has-text-white">Descuento</abbr></th>
            <th><abbr title="Drawn" class="has-text-white">Extras</abbr></th>
            <th><abbr title="Lost" class="has-text-white">Impuesto</abbr></th>
            <th><abbr title="Goals for" class="has-text-white">Total</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Fumigacion mensual mip</th>
            <td>12</td>
            <td>$1,908.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$305.28</td>
            <td>$2,213.28</td>
          </tr>
          <tr>
            <th>Fumigacion mensual mip</th>
            <td>12</td>
            <td>$1,908.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$305.28</td>
            <td>$2,213.28</td>
          </tr>
          <tr>
            <th>Fumigacion mensual mip</th>
            <td>12</td>
            <td>$1,908.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$305.28</td>
            <td>$2,213.28</td>
          </tr>
          <tr>
            <th>Fumigacion mensual mip</th>
            <td>12</td>
            <td>$1,908.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$305.28</td>
            <td>$2,213.28</td>
          </tr>
          <tr>
            <th>Fumigacion mensual mip</th>
            <td>12</td>
            <td>$1,908.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$305.28</td>
            <td>$2,213.28</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="columns">
      <div class="column">
        <article class="tile is-child notification is-primary-light">
          <div class="columns">
            <div class="column">
              <p class="has-text-weight-light">TIPO DE SERVICIO</p>
              <p class="has-text-weight-light">TIPO DE PLAGAS</p>
            </div>
            <div class="column">
              <p class="has-text-weight-semibold">{{service_type.name}}</p>
              <p class="has-text-weight-semibold">{{plagues}}</p>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column has-text-right">
            <p class="has-text-weight-light is-size-5">Subtotal</p>
            <p class="has-text-weight-light is-size-5 has-text-primary">Descuento</p>
            <p class="has-text-weight-light is-size-5 has-text-danger">Extras</p>
            <p class="has-text-weight-light is-size-5">Impuesto</p>
          </div>
          <div class="column has-text-right mr-5">
            <p class="has-text-weight-semibold is-size-5">{{quote.subtotal_f}}</p>
            <p class="has-text-weight-semibold is-size-5 has-text-primary">{{quote.discount_f}}</p>
            <p class="has-text-weight-semibold is-size-5 has-text-danger">{{quote.extra_f}}</p>
            <p class="has-text-weight-semibold is-size-5">{{quote.tax_f}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <article class="tile is-child notification is-primary-light">
          <p class="has-text-weight-semibold">DESCRIPCION DEL SERVICIO</p>
          <p>
            El servicio consiste en la inspección de zonas, aplicación de insecticida en perimetros y verticies, instalación y monitoreo de
            10 estaciones de cebo, 10 trampas de capturas y 2 lamparas de luz uv. con un frecuencia mensual
          </p>
        </article>
      </div>
      <div class="column">
        <hr>
        <div class="columns">
          <div class="column has-text-right">
            <p class="has-text-weight-semibold is-size-5">Total</p>
          </div>
          <div class="column has-text-right mr-5">
            <p class="has-text-weight-bold is-size-4">{{quote.total_f}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <article class="tile is-child notification is-primary-light">
          <p class="has-text-weight-semibold"></p>
          <ul>
            <li>* Cotizaci&oacute;n v&aacute;lida por 30 d&iacute;as naturales </li>
            <li>* Cotizaci&oacute;n &uacute;nica e intransferible. </li>
            <li>* Sujeta a restricciones. </li>
            <li>* No aplica ninguna otra promoci&oacute;n o descuento.</li>
          </ul>
        </article>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column"></div>
          <div class="column">
            <figure class="image is-128x128">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
</body>
</html>